td {
    width: 25px!important;
    height: 25px!important;
    padding: 0!important;
    margin: 0!important;
    border: 1px solid rgb(226, 226, 226);
}

table {
    border-collapse: collapse;
}

.wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(12, 53, 71);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }
    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}

.startingpoint {
    background-image: url("../start.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.endpoint {
    background-image: url("../endpoint.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}